@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');

* {
  font-family: 'Cairo', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-almasref-gray;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
